In [1]:
import pandas as pd

In [47]:
df=pd.read_csv('proveedores.csv', encoding='UTF-8-SIG')
df

,ProveedorID,Compania,Contacto,Titulo,Direccion,Ciudad,Regiones,CodigoPostal,Pais,Telefono,Fax,Pagina
0,1,Exotic Liquids,Charlotte Cooper,Purchasing Manager,49 Gilbert St.,London,NaN,EC1 4SD,UK,(171) 555-2222,NaN,NaN
1,2,New Orleans Cajun Delights,Shelley Burke,Order Administrator,P.O. Box 78934,New Orleans,LA,70117,USA,(100) 555-4822,NaN,#CAJUN.HTM#
2,3,Grandma Kelly's Homestead,Regina Murphy,Sales Representative,707 Oxford Rd.,Ann Arbor,MI,48104,USA,(313) 555-5735,(313) 555-3349,NaN
3,4,Tokyo Traders,Yoshi Nagase,Marketing Manager,9-8 Sekimai Musashino-shi,Tokyo,NaN,100,Japan,(03) 3555-5011,NaN,NaN
4,5,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Export Administrator,Calle del Rosal 4,Oviedo,Asturias,33007,Spain,(98) 598 76 54,NaN,NaN
5,6,Mayumi's,Mayumi Ohno,Marketing Representative,92 Setsuko Chuo-ku,Osaka,NaN,545,Japan,(06) 431-7877,NaN,Mayumi's (on the World Wide Web)#http://www.mi...
6,7,"Pavlova, Ltd.",Ian Devling,Marketing Manager,74 Rose St. Moonie Ponds,Melbourne,Victoria,3058,Australia,(03) 444-2343,(03) 444-6588,NaN
7,8,"Specialty Biscuits, Ltd.",Peter Wilson,Sales Representative,29 King's Way,Manchester,NaN,M14 GSD,UK,(161) 555-4448,NaN,NaN
8,9,PB Kneckebred AB,Lars Peterson,Sales Agent,Kaloadagatan 13,Geteborg,NaN,S-345 67,Sweden,031-987 65 43,031-987 65 91,NaN
9,10,Refrescos Americanas LTDA,Carlos Diaz,Marketing Manager,Av. das Americanas 12.890,Sao Paulo,NaN,5442,Brazil,(11) 555 4640,NaN,NaN
10,11,Heli Seewaren GmbH & Co. KG,Petra Winkler,Sales Manager,Tiergartenstraee 5,Berlin,NaN,10785,Germany,(010) 9984510,NaN,NaN
11,12,Plutzer Lebensmittelgroemerkte AG,Martin Bein,International Marketing Mgr.,Bogenallee 51,Frankfurt,NaN,60439,Germany,(069) 992755,NaN,Plutzer (on the World Wide Web)#http://www.mic...
12,13,Nord-Ost-Fisch Handelsgesellschaft mbH,Sven Petersen,Coordinator Foreign Markets,Frahmredder 112a,Cuxhaven,NaN,27478,Germany,(04721) 8713,(04721) 8714,NaN
13,14,Formaggi Fortini s.r.l.,Elio Rossi,Sales Representative,"Viale Dante, 75",Ravenna,NaN,48100,Italy,(0544) 60323,(0544) 60603,#FORMAGGI.HTM#
14,15,Norske Meierier,Beate Vileid,Marketing Manager,Hatlevegen 5,Sandvika,NaN,1320,Norway,(0)2-953010,NaN,NaN
15,16,Bigfoot Breweries,Cheryl Saylor,Regionesal Account Rep.,3400 - 8th Avenue Suite 210,Bend,OR,97101,USA,(503) 555-9931,NaN,NaN
16,17,Svensk Sjefeda AB,Michael Bjern,Sales Representative,Brovallavegen 231,Stockholm,NaN,S-123 45,Sweden,08-123 45 67,NaN,NaN
17,18,Aux joyeux ecclesiastiques,Guylene Nodier,Sales Manager,"203, Rue des Francs-Bourgeois",Paris,NaN,75004,France,(1) 03.83.00.68,(1) 03.83.00.62,NaN
18,19,New England Seafood Cannery,Robb Merchant,Wholesale Account Agent,Order Processing Dept. 2100 Paul Revere Blvd.,Boston,MA,2134,USA,(617) 555-3267,(617) 555-3389,NaN
19,20,Leka Trading,Chandra Leka,Owner,"471 Serangoon Loop, Suite #402",Singapore,NaN,512,Singapore,555-8787,NaN,NaN
20,21,Lyngbysild,Niels Petersen,Sales Manager,Lyngbysild Fiskebakken 10,Lyngby,NaN,2800,Denmark,43844108,43844115,NaN
21,22,Zaanse Snoepfabriek,Dirk Luchte,Accounting Manager,Verkoop Rijnweg 22,Zaandam,NaN,9999 ZZ,Netherlands,(12345) 1212,(12345) 1210,NaN
22,23,Karkki Oy,Anne Heikkonen,Product Manager,Valtakatu 12,Lappeenranta,NaN,53120,Finland,(953) 10956,NaN,NaN
23,24,"G'day, Mate",Wendy Mackenzie,Sales Representative,170 Prince Edward Parade Hunter's Hill,Sydney,NSW,2042,Australia,(02) 555-5914,(02) 555-4873,G'day Mate (on the World Wide Web)#http://www....
24,25,Ma Maison,Jean-Guy Lauzon,Marketing Manager,2960 Rue St. Laurent,Montreal,Quebec,H1J 1C3,Canada,(514) 555-9022,NaN,NaN
25,26,Pasta Buttini s.r.l.,Giovanni Giudici,Order Administrator,"Via dei Gelsomini, 153",Salerno,NaN,84100,Italy,(089) 6547665,(089) 6547667,NaN
26,27,Escargots Nouveaux,Marie Delamare,Sales Manager,"22, rue H. Voiron",Montceau,NaN,71300,France,85.57.00.07,NaN,NaN
27,28,Gai peturage,Eliane Noz,Sales Representative,"Bat. B 3, rue des Alpes",Annecy,NaN,74000,France,38.76.98.06,38.76.98.58,NaN
28,29,Forets d'erables,Chantal Goulet,Accounting Manager,148 rue Chasseur,Ste-Hyacinthe,Quebec,J2S 7S8,Canada,(514) 555-2955,(514) 555-2921,NaN

In [ ]:
df=df.replace('�','e', regex=True)

In [ ]:
CLIENTES

In [49]:
df2=pd.read_csv('clientes.csv', encoding='UTF-8-SIG')
df2

,ClienteID,Compania,Contacto,Titulo,Direccion,Ciudad,Regiones,CodigoPostal,Pais,Telefono,Fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,030-0076545
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constituci?n 2222,M?xico D.F.,NaN,05021,Mexico,(5) 555-4729,(5) 555-3745
2,ANTON,Antonio Moreno Taquer?a,Antonio Moreno,Owner,Mataderos 2312,M?xico D.F.,NaN,05023,Mexico,(5) 555-3932,NaN
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,NaN,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,BERGS,Berglunds snabbk?p,Christina Berglund,Order Administrator,Berguvsv?gen 8,Lule?,NaN,S-958 22,Sweden,0921-12 34 65,0921-12 34 67
...,...,...,...,...,...,...,...,...,...,...,...
86,WARTH,Wartian Herkku,Pirkko Koskitalo,Accounting Manager,Torikatu 38,Oulu,NaN,90110,Finland,981-443655,981-443655
87,WELLI,Wellington Importadora,Paula Parente,Sales Manager,"Rua do Mercado, 12",Resende,SP,08737-363,Brazil,(14) 555-8122,NaN
88,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115
89,WILMK,Wilman Kala,Matti Karttunen,Owner/Marketing Assistant,Keskuskatu 45,Helsinki,NaN,21240,Finland,90-224 8858,90-224 8858
90,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,(26) 642-7012

In [ ]:
df2=df2.replace('?s:e', regex=True)
df2

,ClienteID,Compania,Contacto,Titulo,Direccion,Ciudad,Regiones,CodigoPostal,Pais,Telefono,Fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,030-0076545
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constituci?n 2222,M?xico D.F.,NaN,05021,Mexico,(5) 555-4729,(5) 555-3745
2,ANTON,Antonio Moreno Taquer?a,Antonio Moreno,Owner,Mataderos 2312,M?xico D.F.,NaN,05023,Mexico,(5) 555-3932,NaN
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,NaN,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,BERGS,Berglunds snabbk?p,Christina Berglund,Order Administrator,Berguvsv?gen 8,Lule?,NaN,S-958 22,Sweden,0921-12 34 65,0921-12 34 67
...,...,...,...,...,...,...,...,...,...,...,...
86,WARTH,Wartian Herkku,Pirkko Koskitalo,Accounting Manager,Torikatu 38,Oulu,NaN,90110,Finland,981-443655,981-443655
87,WELLI,Wellington Importadora,Paula Parente,Sales Manager,"Rua do Mercado, 12",Resende,SP,08737-363,Brazil,(14) 555-8122,NaN
88,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115
89,WILMK,Wilman Kala,Matti Karttunen,Owner/Marketing Assistant,Keskuskatu 45,Helsinki,NaN,21240,Finland,90-224 8858,90-224 8858
90,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,(26) 642-7012

In [ ]:
FACTURA

In [2]:
df3=pd.read_csv('facturas.csv')
df3

,FacturaID,ClienteID,EmpleadoID,FechaFactura,FechaRegistro,FechaEnvio,EnvioVia,Transporte,NombreEnvio,DireccionEnvio,CiudadEnvio,RegionEnvio,CodigoPostalEnvio,PaisEnvio
0,10248,VINET,5,1996-07-04 00:00:00,1996-08-01 00:00:00,1996-07-16 00:00:00,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,France
1,10249,TOMSP,6,1996-07-05 00:00:00,1996-08-16 00:00:00,1996-07-10 00:00:00,1,11.61,Toms Spezialit�ten,Luisenstr. 48,M�nster,NaN,44087,Germany
2,10250,HANAR,4,1996-07-08 00:00:00,1996-08-05 00:00:00,1996-07-12 00:00:00,2,65.83,Hanari Carnes,"Rua do Pa�o, 67",Rio de Janeiro,RJ,05454-876,Brazil
3,10251,VICTE,3,1996-07-08 00:00:00,1996-08-05 00:00:00,1996-07-15 00:00:00,1,41.34,Victuailles en stock,"2, rue du Commerce",Lyon,NaN,69004,France
4,10252,SUPRD,4,1996-07-09 00:00:00,1996-08-06 00:00:00,1996-07-11 00:00:00,2,51.30,Supr�mes d�lices,"Boulevard Tirou, 255",Charleroi,NaN,B-6000,Belgium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,11073,PERIC,2,1998-05-05 00:00:00,1998-06-02 00:00:00,0000-00-00 00:00:00,2,24.95,Pericles Comidas cl�sicas,Calle Dr. Jorge Cash 321,M�xico D.F.,NaN,5033,Mexico
826,11074,SIMOB,7,1998-05-06 00:00:00,1998-06-03 00:00:00,0000-00-00 00:00:00,2,18.44,Simons bistro,Vinb�ltet 34,Kobenhavn,NaN,1734,Denmark
827,11075,RICSU,8,1998-05-06 00:00:00,1998-06-03 00:00:00,0000-00-00 00:00:00,2,6.19,Richter Supermarkt,Starenweg 5,Gen�ve,NaN,1204,Switzerland
828,11076,BONAP,4,1998-05-06 00:00:00,1998-06-03 00:00:00,0000-00-00 00:00:00,2,38.28,Bon app',"12, rue des Bouchers",Marseille,NaN,13008,France
829,11077,RATTC,1,1998-05-06 00:00:00,1998-06-03 00:00:00,0000-00-00 00:00:00,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA

In [3]:
df3=df3.replace('�','e', regex=True)
df3

,FacturaID,ClienteID,EmpleadoID,FechaFactura,FechaRegistro,FechaEnvio,EnvioVia,Transporte,NombreEnvio,DireccionEnvio,CiudadEnvio,RegionEnvio,CodigoPostalEnvio,PaisEnvio
0,10248,VINET,5,1996-07-04 00:00:00,1996-08-01 00:00:00,1996-07-16 00:00:00,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,France
1,10249,TOMSP,6,1996-07-05 00:00:00,1996-08-16 00:00:00,1996-07-10 00:00:00,1,11.61,Toms Spezialiteten,Luisenstr. 48,Menster,NaN,44087,Germany
2,10250,HANAR,4,1996-07-08 00:00:00,1996-08-05 00:00:00,1996-07-12 00:00:00,2,65.83,Hanari Carnes,"Rua do Paeo, 67",Rio de Janeiro,RJ,05454-876,Brazil
3,10251,VICTE,3,1996-07-08 00:00:00,1996-08-05 00:00:00,1996-07-15 00:00:00,1,41.34,Victuailles en stock,"2, rue du Commerce",Lyon,NaN,69004,France
4,10252,SUPRD,4,1996-07-09 00:00:00,1996-08-06 00:00:00,1996-07-11 00:00:00,2,51.30,Supremes delices,"Boulevard Tirou, 255",Charleroi,NaN,B-6000,Belgium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,11073,PERIC,2,1998-05-05 00:00:00,1998-06-02 00:00:00,0000-00-00 00:00:00,2,24.95,Pericles Comidas clesicas,Calle Dr. Jorge Cash 321,Mexico D.F.,NaN,5033,Mexico
826,11074,SIMOB,7,1998-05-06 00:00:00,1998-06-03 00:00:00,0000-00-00 00:00:00,2,18.44,Simons bistro,Vinbeltet 34,Kobenhavn,NaN,1734,Denmark
827,11075,RICSU,8,1998-05-06 00:00:00,1998-06-03 00:00:00,0000-00-00 00:00:00,2,6.19,Richter Supermarkt,Starenweg 5,Geneve,NaN,1204,Switzerland
828,11076,BONAP,4,1998-05-06 00:00:00,1998-06-03 00:00:00,0000-00-00 00:00:00,2,38.28,Bon app',"12, rue des Bouchers",Marseille,NaN,13008,France
829,11077,RATTC,1,1998-05-06 00:00:00,1998-06-03 00:00:00,0000-00-00 00:00:00,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA

In [53]:
df3=df3.replace('�','e', regex=True)
df3

,FacturaID,ClienteID,EmpleadoID,FechaFactura,FechaRegistro,FechaEnvio,EnvioVia,Transporte,NombreEnvio,DireccionEnvio,CiudadEnvio,RegionEnvio,CodigoPostalEnvio,PaisEnvio
0,10248,VINET,5,1996-07-04,1996-08-01,1996-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,France
1,10249,TOMSP,6,1996-07-05,1996-08-16,1996-07-10,1,11.61,Toms Spezialiteten,Luisenstr. 48,Menster,NaN,44087,Germany
2,10250,HANAR,4,1996-07-08,1996-08-05,1996-07-12,2,65.83,Hanari Carnes,"Rua do Paeo, 67",Rio de Janeiro,RJ,05454-876,Brazil
3,10251,VICTE,3,1996-07-08,1996-08-05,1996-07-15,1,41.34,Victuailles en stock,"2, rue du Commerce",Lyon,NaN,69004,France
4,10252,SUPRD,4,1996-07-09,1996-08-06,1996-07-11,2,51.30,Supremes delices,"Boulevard Tirou, 255",Charleroi,NaN,B-6000,Belgium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,11073,PERIC,2,1998-05-05,1998-06-02,NaN,2,24.95,Pericles Comidas clesicas,Calle Dr. Jorge Cash 321,Mexico D.F.,NaN,5033,Mexico
826,11074,SIMOB,7,1998-05-06,1998-06-03,NaN,2,18.44,Simons bistro,Vinbeltet 34,Kobenhavn,NaN,1734,Denmark
827,11075,RICSU,8,1998-05-06,1998-06-03,NaN,2,6.19,Richter Supermarkt,Starenweg 5,Geneve,NaN,1204,Switzerland
828,11076,BONAP,4,1998-05-06,1998-06-03,NaN,2,38.28,Bon app',"12, rue des Bouchers",Marseille,NaN,13008,France
829,11077,RATTC,1,1998-05-06,1998-06-03,NaN,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA

In [5]:
df3.to_csv("facturas.csv", index=False)

In [ ]:
PRODUCTOS

In [6]:
df=pd.read_csv('productos.csv')
df

,ProductoID,ProductoNombre,ProveedorID,CategoriaID,CantidadPorUnidad,PrecioUnitario,UnidadesStock,UnidadesPedidas,NivelReorden,Discontinuado
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
72,73,R�d Kaviar,17,8,24 - 150 g jars,15.00,101,0,5,0
73,74,Longlife Tofu,4,7,5 kg pkg.,10.00,4,20,5,0
74,75,Rh�nbr�u Klosterbier,12,1,24 - 0.5 l bottles,7.75,125,0,25,0
75,76,Lakkalik��ri,23,1,500 ml,18.00,57,0,20,0
76,77,Original Frankfurter gr�ne So�e,12,2,12 boxes,13.00,32,0,15,0

In [7]:
df=df.replace('�','e', regex=True)
df

,ProductoID,ProductoNombre,ProveedorID,CategoriaID,CantidadPorUnidad,PrecioUnitario,UnidadesStock,UnidadesPedidas,NivelReorden,Discontinuado
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
72,73,Red Kaviar,17,8,24 - 150 g jars,15.00,101,0,5,0
73,74,Longlife Tofu,4,7,5 kg pkg.,10.00,4,20,5,0
74,75,Rhenbreu Klosterbier,12,1,24 - 0.5 l bottles,7.75,125,0,25,0
75,76,Lakkalikeeri,23,1,500 ml,18.00,57,0,20,0
76,77,Original Frankfurter grene Soee,12,2,12 boxes,13.00,32,0,15,0

In [9]:
df.to_csv("productos.csv", index=False)